<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/style1.css" %}">
    {% block cabecera %}
    <!-- titulo de cada pagina -->
    {% endblock %} 
</head>
<body>
    <h1>Portada sitio web</h1>
    {% block bloque1 %}
    <!-- contenido de cada pagina -->
    {% endblock %} 
</body>
</html>